body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background-color: #ffdde1;
    color: #d6336c;
    margin: 0;
    padding: 20px;
    display: flex;
}


.sidebar_izq {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
#skz1, #skz2, #skz3, #skz4, #skz9, #skz10, #skz11, #skz12 {

    width: 40%;
    border-radius: 10px;
    margin: 20px 0;
}

.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
}

#primera {
    width: 30%;
    border-radius: 10px;
    margin: 20px 0;
}

#segunda {
    width: 50%;
    border-radius: 10px;
    margin: 20px 0;
}

#tercera {
    width: 25%;
    border-radius: 10px;
    margin-top: 60px;
}
#cuarta {
    width: 25%;
    border-radius: 10px;
    margin-top: 60px;
}
h1 {
    color: #d6336c;
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(75, 54, 54);
    text-align: justify;
}

button {
    display: flex;
    background-color: #d6336c;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #c2255c;
}

.audio-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.audio-control button {
    margin-right: 10px;
}

canvas {
    display: none;
    margin: 20px auto;
    border: 1px solid #000000;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    body {
        flex-direction: column;
        padding: 10px;
    }

    .sidebar_izq {
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .container {
        max-width: 100%;
    }

    h2, h3 {
        font-size: 14px;
    }

    #primera, #segunda {
        width: 100%;
    }
}
#videoCuadro{
    display: none;
    margin: 20px auto;
    text-align: center;
}
#respuestaCorrecta{
    display: none;
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#respuestaCorrecta2{
    display: none;
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#respuestaCorrecta3{
    display: none;
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar_der{
    width: 400px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#skz5, #skz6, #skz7, #skz13, #skz14, #skz15, #skz16 {

    width: 40%;
    border-radius: 10px;
    margin: 20px 0;
}
#skz8 {

    width: 70%;
    border-radius: 10px;
    margin: 20px 0;
}