/* Estilos responsivos para iPhone 14 */
@media only screen and (max-width: 73.125em) { /* 1170px / 16 = 73.125em */
    body {
        display: flex;
        flex-direction: column;
        padding: 1em;
    }

    .container {
        order: 1;
        max-width: 100vw;
        margin: auto;
    }

    .sidebar_izq, .sidebar_der {
        order: 2;
        width: 93vw;
        padding: 0.625em;
        box-sizing: border-box;
        margin: 10px 0 0 0;
        flex:1;

    }

    .sidebar_izq, .sidebar_der {
        display: flex;
        flex-wrap: wrap;
    }


    h1 {
        font-size: 1.5em;
        text-align: center;
    }

    h2, h3 {
        font-size: 0.875em;
        text-align: justify;
    }

    #primera, #segunda, #tercera, #cuarta {
        width: 35%;
    }

    .audio-control {
        flex-direction: column;
        align-items: center;
    }

    .audio-control button {
        margin-bottom: 0.625em;
        width: 100%;
    }

    .audio-control audio {
        width: 100%;
    }

    canvas {
        width: 100%;
        height: auto;
    }

    #videoCuadro {
        width: 100%;
    }

    #respuestaCorrecta, #respuestaCorrecta2, #respuestaCorrecta3 {
        width: 100%;
        padding: 0.625em;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    input[type="text"] {
        width: 100%;
        padding: 0.625em;
        margin: 0.625em 0;
        box-sizing: border-box;
    }

    button {
        width: 100%;
        padding: 0.625em;
        margin: 0.625em 0;
        box-sizing: border-box;
    }
}