*{
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}
body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    background: linear-gradient(to bottom, #1C0116, #090022, #3e123b, #7c1160);
    color: #39085b;
    margin: 0;
    padding: 20px;
    display: flex;
}
.sidebar_izq {
    width: 25vw;
    background-color: #0a0029;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}
.sidebar_der {
    width: 25vw;
    background-color: #0a0029;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sidebar_izq img, .sidebar_der img {
    width: 40%;
    border-radius: 10px;
    margin: 20px 0;
}
.img-small {
    width: 40%;
    border-radius: 10px;
    margin: 20px 0;
}

.img-medium {
    width: 50%;
    border-radius: 10px;
    margin: 20px 0;
}

.img-large {
    width: 70%;
    border-radius: 10px;
    margin: 20px 0;
}

.container {
    max-width: 50vw;
    margin: 0 3vw 0 3vw;
    background: #0a0029;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#primera {
    width: 30%;
    border-radius: 10px;
    margin: 20px 0;
}

#segunda {
    width: 50%;
    border-radius: 10px;
    margin: 20px 0;
}

#tercera {
    width: 25%;
    border-radius: 10px;
    margin-top: 60px;
}
#cuarta {
    width: 25%;
    border-radius: 10px;
    margin-top: 60px;
}
h1 {
    color: #d6336c;
    text-align: center;
    font-size: 35pt;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(200, 189, 189);
    text-align: justify;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(192, 182, 182);
    text-align: center;
}

button {
    display: flex;
    background-color: #d6336c;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
button .customControls{
    align-items: center;
}

button:hover {
    background-color: #c2255c;
}

.audio-control {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.audio-control button {
    margin-right: 10px;
}


canvas {
    display: none;
    margin: 20px auto;
    border: 1px solid #000000;
}
#videoCuadro{
    display: none;
    margin: 20px auto;
    text-align: center;
}
#respuestaCorrecta{
    display: none;
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#respuestaCorrecta2{
    display: none;
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#respuestaCorrecta3{
    display: none;
    margin: 20px auto;
    text-align: center;
    background-color: #f9f9f9;
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
